<div class="admin-action">
    <h1><%= title %></h1>

    <% if (error) { %>
     <p class="error">❌ <%= error %></p>
    <% } %>

    <% if (success) { %>
     <p class="success">✅ <%= success %></p>
    <% } %>

    <form action="/admin/change-admin-password" method="post">
        <label for="currentPassword">Old Passwoed:</label>
        <div class="password-field">
            <input 
                type="password" 
                name="oldPassword" 
                id="currentPassword" 
                required
                class="password"
            >
            <img src="/images/visibility.svg" alt="visible password" class="password-img">
        </div>

        <label for="newPassword">New Passwoed:</label>
        <div class="password-field">
            <input 
                type="password" 
                name="newPassword" 
                id="newPassword" 
                required
                class="password"
            >
            <img src="/images/visibility.svg" alt="visible password" class="password-img">
        </div>

        <label for="confirmPassword">Confirm Passwoed:</label>
        <div class="password-field">
            <input 
                type="password" 
                name="confirmPassword" 
                id="confirmPassword" 
                required
                class="password"
            >
            <img src="/images/visibility.svg" alt="visible password" class="password-img">
        </div>

        <button type="submit">Change Admin Password</button>
    </form>
</div>