<div class="admin-action">
    <h1><%= title %></h1>

    <% if (error) { %>
     <p class="error">❌ <%= error %></p>
    <% } %>

    <% if (success) { %>
     <p class="success">✅ <%= success %></p>
    <% } %>

    <form action="/admin/change-admin-name" method="post">
        <label for="adminName">Admin Name</label>
        <input 
            type="text" 
            name="adminName" 
            id="adminName" 
            value="<%= user.username %>"
            required
        >
        <button type="submit">Change Admin Name</button>
    </form>
</div>