<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <div class="container">
        <h1 class="title"><%= title %> <span class="version"><%= version %></span></h1>
        <p class="descr">Welcome to Travel Backend</p>
    
        <hr>
    
        <h2 class="url-title">Site URL's</h2>
    
        <ul class="url-list">
            <li><a href="/api">api list</a></li>
            <li><a href="/admin">admin page</a></li>
        </ul>
    </div>
</body>
</html>