@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Geist", sans-serif;
    transition: all .25s linear;
}

.api-page {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 40px 50px;
}

.home-link {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #000;
}

.api-page h1 {
    display: flex;
    align-items: center;
    gap: 10px;

    span {
        font-size: 14px;
        padding: 3px 5px;
        background-color: #009384;
        border-radius: 6px;
        color: #fff;
    }
}

.api-page h2 {
    font-size: 22px;
}

.api-page ul {
    list-style-position: inside;   
}

.api-page li {
    margin-bottom: 5px;
    text-indent: 20px;
}

.api-page ul li a {
    text-decoration: none;
    color: #007bff;
    font-family: Consolas, monospace;
    font-family: "Ubuntu Mono", monospace;
    font-size: 20px;
    font-weight: bold;
}