header {
    background-color: var(--primary);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding: 12px 28px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    letter-spacing: 0.6px;
}

header .logo {
    color: #fff;
    font-size: 26px;
    font-weight: bold;
    text-shadow: var(--text-shadow);
    transition: all .4s ease;

    &:hover {
        transform: scale(1.1) rotate(-2deg);
    }
}

header .right-side {
    display: flex;
    align-items: center;
    gap: 10px;
}

header .right-side .user-menu {
    position: relative;
}

header .right-side .user-menu .user-avatar {
    width: 30px;
    cursor: pointer;
}

header .right-side .user-menu .dropdown-menu {
    background: #fff;
    position: absolute;
    top: 35px;
    right: 0;
    width: 200px;
    box-shadow: 0 5px 20px #0000003f;
    border-radius: 8px;
    padding: 0;
    overflow: hidden;
    display: none;
}

header .right-side .user-menu .dropdown-menu.active {
    display: block;
}

header .right-side .user-menu .dropdown-menu .dropdown-user,
header .right-side .user-menu .dropdown-menu .dropdown-link {
    padding: 8px 16px;
    color: #333;
    font-size: 14px;
    display: block;
    border: .2px solid rgba(110, 109, 109, 0.193);


    &:hover {
        background: #f5f5f5;
    }
}

header .right-side .user-menu .dropdown-menu .dropdown-user {
    color: #222;
    font-weight: 500;
    cursor: default;
    text-transform: capitalize;
    border-bottom: 2px solid rgba(39, 37, 37, 0.193);
}

header .right-side .user-menu .dropdown-menu .logout-link {
    color: #d9534f;
}