<div class="action">
    <h1>
        <%= title %>
    </h1>

    <div class="back-btn">
        <a href="/admin/<%= activeRoute %>">Back</a>
    </div>          
    
    <div class="add-block">
        <form action="/admin/<%= activeRoute %>/add" method="post">
            <label for="title">Title<span>*</span></label>
            <input type="text" name="title" id="title" required>

            <button type="submit" class="submit">Create</button>
        </form>
    </div>
</div>